html, body, h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif
}

/* Custom */
.login-box, .register-box {
    width:390px;
}
.center {
    justify-content: center; 
    display: flex; 
    align-items: center;
}

.color-red {
    color: red !important;
}

.no-padding {
    padding: 0 !important;
}

.padding {
    padding: 15px !important;
}

.padding-top {
    padding-top: 15px !important;
}

.padding-right {
    padding-right: 15px !important;
}

.padding-bottom {
    padding-bottom: 15px !important;
}

.padding-left {
    padding-left: 15px !important;
}

.no-margin {
    margin: 0;
}

.margin {
    margin: 15px !important;
}

.margin-top {
    margin-top: 15px !important;
}

.margin-right {
    margin-right: 15px !important;
}

.margin-bottom {
    margin-bottom: 15px !important;
}

.margin-left {
    margin-left: 15px !important;
}

.content-custom {
    min-height: 0 !important;
}

.content-custom .alert {
    margin-bottom: 0 !important;
}

.required {
    color: red;
}

.required:before {
    font-family: FontAwesome;
    content: "[\f069]";
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    padding-left: 2px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

/* Sidebar */
.sidebar-custom {
    background-color: #1a2226 !important;
}

.sidebar-custom li {
    background-color: #222d32;
}

/* Table */
.table-info {
    padding-top: 8px;
    white-space: nowrap;
}
.table-paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.table-paginate .pagination {
    margin: 0;
}

.table thead.dark {
    background-color: #212529;
    color: #fff;
}

/* info-box */
/*.info-box {
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3) !important;
    background-color: #ecf0f5;
}*/

.info-box-icon > a > i {
    color: #fff;
}

.inline {
    display: inline-flex !important;
}

span.connect-input {
    padding: 8px 10px 0 10px;
}

.tab-pane-custom {
    padding: 15px;
}

/* Login
---------------------------------------*/
.login-logo a {
    text-transform: uppercase;
}

/* Custom select2
---------------------------------------*/
.select2-container--default .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    height: 34px; 
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
}

/* Custom theme w3
---------------------------------------*/
.w3-top-custom {
    z-index: 9999;
}

.w3-bar-custom {
    padding: 13px 24px !important;
    font-size: 16px;
}

.w3-bar-logo-custom {
    padding: 0 !important;
}

.w3-margin-custom {
    margin: 0 16px 16px 16px !important;
}

/* Slider UI
---------------------------------------*/
.ui-slider-horizontal .ui-slider-range {
    background: rgb(96, 125, 139);
}

/* Modal 
---------------------------------------*/
.modal {
    top: 50px;
}

/* Button search
----------------------------------------*/
.btn-fixed {
    position: fixed; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #4d636f;
    color: #fff;
    z-index: 999;
    outline: none;
    border: none;
    font-size: 18px;
}

.btn-search {
    right: 15px; 
    bottom: 80px;
}

.btn-scroll {
    right: 15px;
    bottom: 20px;
    padding-bottom: 5px;
    display: none;
}